* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Verdana, Helvetica;
}

body{
	font-family: inherit;
}

a {
	text-decoration: none;
	color: #57ad68;
}

nav	{
	width: 100%;
	text-align: center;
	margin: 0 auto;
	background-color: black;
	color: white;
	padding: 10px;
}
nav li {
	/*float: left;*/
	list-style-type: none;
	margin-right: 5px;
	display: inline;
	padding: 7px;
}

nav a {
	color: white;
	/*font-size: 1.4rem;*/
	/*padding: .5em;*/
	text-transform: uppercase;
	font-weight: normal;
}

header {
	text-align: center;
	padding: 30px;
}
header a{
	color: #404040;
	font-size: 2.5em;
	font-family: serif;
}
header h3 {
	color: #404040;
	font-family: serif;
}

article {
	width: 80%;
	margin: 0 auto;
	margin-top: 16px;
	margin-bottom: 32px;
	border-top: 1px solid black;
}

.infoContainer {
	width: 24%;
	float: left;
}

.dateTime,
.blogTags,
.comments {
	margin: 10px;
	font-size: small;
}

.dateTime {
	font-style: italic;
	margin-bottom: 20px;
}

.blogTags > a {
	color: black;
}
.comments a {
	color: black;
}

.blogContainer {
	width: 71%;
	margin-left: 2%;
	float: right;
}
.articleEnd {
	text-align: center;
	margin-bottom: 20px;
	width: 80%;
	margin: 0 auto;

}

.subscribe {
	float: left;
	margin-bottom: 20px;
}



.clear:after {
	content: "";
	visibility: hidden;
	display: block;
	clear: both;
}

.siteInfo:before {
	content: "";
	visibility: hidden;
	display: block;
	clear: both;
}

img {
	width: 200px;
	height: 150px;
	float: left;
	padding: 4px;
	margin: 0, 10px, 5px, 5px;
}

.blogContainer> h2 > a {
	font-size: 2em;
	font-family: serif;
}

.blogContainer h2 {
	margin-bottom: 10px;
}

.blogContent {
	width: 100%;
}
.blogContent > p {
/*	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: 20px;*/

	display: block;
	display: -webkit-box;
	max-width: 400px;
	margin: 0 auto;
	/*font-size: 26px;*/
	line-height: 1.4;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 20px;

	/*height: 200px;*/
}

.blogContent > a {
	float: right;
}

footer {
	width: 80%;
	margin: 0 auto;
	border: 1px solid black;
}

footer h3 {
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: serif;
	font-size: larger;
}

footer a {
	margin-bottom: 10px;
}

.footer1 {
	float: left;
	width: 31%;
	display: inline-block;
	margin: 1% auto;
}

.thumb {
	padding-right: .4em;
	width: 72px;
	height: auto;
}

.footer2 {
	float: left;
	width: 31%;
	margin: 1% auto;
}
.footer3 {
	float: left;
	width: 31%;
	margin: 1% auto;
	margin-top: 30px;
}

li {
	list-style: none;
	margin-bottom: 5px;
}

.popPosts li {
	margin: 20px;
}

.siteInfo {
	color: #ddd;
	font-size: smaller;
	text-align: center;
}

.siteInfo a {
	color: inherit;
}
